<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tex_2076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,66}</string>
                <key>textureRect</key>
                <string>{{250,50},{160,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{146,50}</string>
                <key>textureRect</key>
                <string>{{102,0},{146,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,74}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{204,116},{71,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{146,50}</string>
                <key>textureRect</key>
                <string>{{248,0},{146,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{0,50},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2862.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{50,0},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{146,50}</string>
                <key>textureRect</key>
                <string>{{50,50},{146,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2993.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{102,72}</string>
                <key>textureRect</key>
                <string>{{0,116},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_2996.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{102,72}</string>
                <key>textureRect</key>
                <string>{{102,116},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_3194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{196,50},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{410,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75382a8340eb4263be642393aeb63f6f:c0ff4406fd66fce4fa0b0917c19e52b7:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
