<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_Btn_Exit_Login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{769,99},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_Img_Logo_Login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,112}</string>
                <key>spriteSourceSize</key>
                <string>{186,112}</string>
                <key>textureRect</key>
                <string>{{639,290},{186,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_biglan_butten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,99}</string>
                <key>spriteSourceSize</key>
                <string>{348,99}</string>
                <key>textureRect</key>
                <string>{{0,191},{348,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_biglv_butten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,103}</string>
                <key>spriteSourceSize</key>
                <string>{352,103}</string>
                <key>textureRect</key>
                <string>{{287,290},{352,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_diban_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,112}</string>
                <key>spriteSourceSize</key>
                <string>{109,112}</string>
                <key>textureRect</key>
                <string>{{825,290},{109,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_diguang01_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{286,51},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_diguang02_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,34}</string>
                <key>textureRect</key>
                <string>{{363,51},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_diguang03_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{76,32}</string>
                <key>textureRect</key>
                <string>{{162,51},{76,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_gaoguangxian_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,3}</string>
                <key>spriteSourceSize</key>
                <string>{138,3}</string>
                <key>textureRect</key>
                <string>{{404,0},{138,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_gouxuanBG_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{469,51},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_gouxuan_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{542,0},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_hongdi_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,92}</string>
                <key>spriteSourceSize</key>
                <string>{156,92}</string>
                <key>textureRect</key>
                <string>{{845,99},{156,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_icon_loding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{831,23},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_jindudi1_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{65,68}</string>
                <key>textureRect</key>
                <string>{{704,99},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_jindudi2_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{238,51},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_jindutiao_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{65,56}</string>
                <key>textureRect</key>
                <string>{{225,99},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_lunbodi_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,45}</string>
                <key>spriteSourceSize</key>
                <string>{252,45}</string>
                <key>textureRect</key>
                <string>{{508,51},{252,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_qqanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,57}</string>
                <key>spriteSourceSize</key>
                <string>{196,57}</string>
                <key>textureRect</key>
                <string>{{290,99},{196,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_qqanniu_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,99}</string>
                <key>spriteSourceSize</key>
                <string>{289,99}</string>
                <key>textureRect</key>
                <string>{{348,191},{289,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_tipsdixiao_loding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{760,51},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_wxanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,54}</string>
                <key>spriteSourceSize</key>
                <string>{225,54}</string>
                <key>textureRect</key>
                <string>{{0,99},{225,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_wxanniu_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,99}</string>
                <key>spriteSourceSize</key>
                <string>{285,99}</string>
                <key>textureRect</key>
                <string>{{637,191},{285,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_xian02_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,23}</string>
                <key>spriteSourceSize</key>
                <string>{275,23}</string>
                <key>textureRect</key>
                <string>{{569,0},{275,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_xian_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,2}</string>
                <key>spriteSourceSize</key>
                <string>{396,2}</string>
                <key>textureRect</key>
                <string>{{0,0},{396,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_xianhuaxian_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,2}</string>
                <key>spriteSourceSize</key>
                <string>{8,2}</string>
                <key>textureRect</key>
                <string>{{396,0},{8,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_xieyiBG_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,66}</string>
                <key>spriteSourceSize</key>
                <string>{4,66}</string>
                <key>textureRect</key>
                <string>{{700,99},{4,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_xieyizi01_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,26}</string>
                <key>spriteSourceSize</key>
                <string>{235,26}</string>
                <key>textureRect</key>
                <string>{{0,23},{235,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_xieyizi02_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,26}</string>
                <key>spriteSourceSize</key>
                <string>{315,26}</string>
                <key>textureRect</key>
                <string>{{235,23},{315,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_xieyizi03_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,26}</string>
                <key>spriteSourceSize</key>
                <string>{281,26}</string>
                <key>textureRect</key>
                <string>{{550,23},{281,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_ykanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,62}</string>
                <key>spriteSourceSize</key>
                <string>{214,62}</string>
                <key>textureRect</key>
                <string>{{486,99},{214,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_ykanniu_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,29}</string>
                <key>spriteSourceSize</key>
                <string>{162,29}</string>
                <key>textureRect</key>
                <string>{{0,51},{162,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_youkeanniu_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,99}</string>
                <key>spriteSourceSize</key>
                <string>{287,99}</string>
                <key>textureRect</key>
                <string>{{0,290},{287,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1001,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15f91575c10962be799bac501c2a8a50:2277d6d6fc1f314f72a16ba0d3462910:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
