<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tex_2271.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_3206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{130,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UserCover.png</string>
            <key>size</key>
            <string>{200,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a5fbb642fc5d52ffdd81a2e34de8cbf:ba4ed0e10e4e97519fbb73693422cf1a:c71827c9ee5a480bcf3663f46b3d5327$</string>
            <key>textureFileName</key>
            <string>UserCover.png</string>
        </dict>
    </dict>
</plist>
