<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,241}</string>
                <key>spriteSourceSize</key>
                <string>{199,241}</string>
                <key>textureRect</key>
                <string>{{0,0},{199,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,241}</string>
                <key>spriteSourceSize</key>
                <string>{199,241}</string>
                <key>textureRect</key>
                <string>{{199,0},{199,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_default_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,241}</string>
                <key>spriteSourceSize</key>
                <string>{199,241}</string>
                <key>textureRect</key>
                <string>{{398,0},{199,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_default_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,241}</string>
                <key>spriteSourceSize</key>
                <string>{199,241}</string>
                <key>textureRect</key>
                <string>{{597,0},{199,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_default_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,241}</string>
                <key>spriteSourceSize</key>
                <string>{199,241}</string>
                <key>textureRect</key>
                <string>{{796,0},{199,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play.png</string>
            <key>size</key>
            <string>{995,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d090574b4f18f19b73ddf83be3a859ac:ced50553c4e6af9d441d35613016a04b:106e2c55d92534b109cfae89160a89d7$</string>
            <key>textureFileName</key>
            <string>play.png</string>
        </dict>
    </dict>
</plist>
