<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Basket icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{0,50},{40,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gear icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{44,146},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Play icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{39,46}</string>
                <key>textureRect</key>
                <string>{{68,0},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speaker icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{0,191},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{40,50},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>month.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{80,50},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offBGM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{0,90},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>onBGM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{43,90},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>修复.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,245},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>关于.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,245},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{54,191},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>反馈.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,309},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>大厅.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{0,146},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开启声音.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>礼包.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{33,0},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>通知.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,309},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_1.png</string>
            <key>size</key>
            <string>{128,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e138de944218e3f4ce66bba3bdb90463:c82a92a2a54e505dc0b273efc3122329:4e24f648d7b5861af79812133d9cebfe$</string>
            <key>textureFileName</key>
            <string>icon_1.png</string>
        </dict>
    </dict>
</plist>
