<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loginBtn_Exit_Login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1303,32},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginImg_Logo_Login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,112}</string>
                <key>spriteSourceSize</key>
                <string>{186,112}</string>
                <key>textureRect</key>
                <string>{{1717,120},{186,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginbiglan_butten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,99}</string>
                <key>spriteSourceSize</key>
                <string>{348,99}</string>
                <key>textureRect</key>
                <string>{{156,120},{348,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginbiglv_butten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,103}</string>
                <key>spriteSourceSize</key>
                <string>{352,103}</string>
                <key>textureRect</key>
                <string>{{1365,120},{352,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logindiban_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,112}</string>
                <key>spriteSourceSize</key>
                <string>{109,112}</string>
                <key>textureRect</key>
                <string>{{1903,120},{109,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logindiguang01_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{0,32},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logindiguang02_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,34}</string>
                <key>textureRect</key>
                <string>{{77,32},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logindiguang03_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{76,32}</string>
                <key>textureRect</key>
                <string>{{1865,0},{76,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logingaoguangxian_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,3}</string>
                <key>spriteSourceSize</key>
                <string>{138,3}</string>
                <key>textureRect</key>
                <string>{{404,0},{138,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logingouxuanBG_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{183,32},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logingouxuan_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{542,0},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginhongdi_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,92}</string>
                <key>spriteSourceSize</key>
                <string>{156,92}</string>
                <key>textureRect</key>
                <string>{{0,120},{156,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginicon_loding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1675,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginjindudi1_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{65,68}</string>
                <key>textureRect</key>
                <string>{{1238,32},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginjindudi2_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{1941,0},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginjindutiao_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{65,56}</string>
                <key>textureRect</key>
                <string>{{759,32},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginlunbodi_xiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,45}</string>
                <key>spriteSourceSize</key>
                <string>{252,45}</string>
                <key>textureRect</key>
                <string>{{222,32},{252,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginqqanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,57}</string>
                <key>spriteSourceSize</key>
                <string>{196,57}</string>
                <key>textureRect</key>
                <string>{{824,32},{196,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginqqanniu_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,99}</string>
                <key>spriteSourceSize</key>
                <string>{289,99}</string>
                <key>textureRect</key>
                <string>{{504,120},{289,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logintipsdi_loding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,88}</string>
                <key>spriteSourceSize</key>
                <string>{489,88}</string>
                <key>textureRect</key>
                <string>{{1379,32},{489,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logintipsdixiao_loding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{474,32},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginwxanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,54}</string>
                <key>spriteSourceSize</key>
                <string>{225,54}</string>
                <key>textureRect</key>
                <string>{{534,32},{225,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginwxanniu_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,99}</string>
                <key>spriteSourceSize</key>
                <string>{285,99}</string>
                <key>textureRect</key>
                <string>{{793,120},{285,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginxian02_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,23}</string>
                <key>spriteSourceSize</key>
                <string>{275,23}</string>
                <key>textureRect</key>
                <string>{{569,0},{275,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginxian_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,2}</string>
                <key>spriteSourceSize</key>
                <string>{396,2}</string>
                <key>textureRect</key>
                <string>{{0,0},{396,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginxianhuaxian_loge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,2}</string>
                <key>spriteSourceSize</key>
                <string>{8,2}</string>
                <key>textureRect</key>
                <string>{{396,0},{8,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginxieyiBG_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,66}</string>
                <key>spriteSourceSize</key>
                <string>{4,66}</string>
                <key>textureRect</key>
                <string>{{1234,32},{4,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginxieyizi01_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,26}</string>
                <key>spriteSourceSize</key>
                <string>{235,26}</string>
                <key>textureRect</key>
                <string>{{844,0},{235,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginxieyizi02_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,26}</string>
                <key>spriteSourceSize</key>
                <string>{315,26}</string>
                <key>textureRect</key>
                <string>{{1079,0},{315,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginxieyizi03_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,26}</string>
                <key>spriteSourceSize</key>
                <string>{281,26}</string>
                <key>textureRect</key>
                <string>{{1394,0},{281,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginykanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,62}</string>
                <key>spriteSourceSize</key>
                <string>{214,62}</string>
                <key>textureRect</key>
                <string>{{1020,32},{214,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginykanniu_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,29}</string>
                <key>spriteSourceSize</key>
                <string>{162,29}</string>
                <key>textureRect</key>
                <string>{{1703,0},{162,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginyoukeanniu_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,99}</string>
                <key>spriteSourceSize</key>
                <string>{287,99}</string>
                <key>textureRect</key>
                <string>{{1078,120},{287,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{2012,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e229c07151100535c791a3e7ffabf4aa:4e8908762850ea77c0ce149a95f66ffc:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
